AvventoWebService/Files/Schema/IndicesSubscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Query">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IndicesSubscription">
          <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Action" type="xs:string"></xs:element>
                  </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>